@*@model List<Lab13.Models.Persona>
    @{
        ViewBag.Title = "Listar";
    }
    <h2>Listado de Personas</h2>
    <table class="table table-striped">
        <tr>
            <th>PersonaID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha Nac.</th>
            <th>Direccion</th>
            <th>Email</th>
            <th>Acciones</th>
        </tr>
        @foreach (var persona in Model)
        {
            <tr>
                <td>@persona.PersonaID</td>
                <td>@persona.Nombre</td>
                <td>@persona.Apellido</td>
                <td>@persona.FechaNacimiento</td>
                <td>@persona.Direccion</td>
                <td>@persona.Email</td>
                <td>
                    @Html.ActionLink("Ver", "Mostrar", "Persona", new { id = persona.PersonaID }, null)
                </td>
            </tr>
        }
    </table>*@



@*@model List<Lab13.Models.Persona>
    @{
        ViewBag.Title = "Listar";
        var grid = new WebGrid(source: Model);
    }

    <h2>Listado de Personas</h2>
    @grid.GetHtml()*@



@*@model List<Lab13.Models.Persona>
    @{
        ViewBag.Title = "Listar";
        var grid = new WebGrid(source: Model, columnNames: new[] {
                        "PersonaID", "Nombre", "Apellido", "FechaNacimiento", "Direccion", "Email" });
    }

    <h2>Listado de Personas</h2>
    @grid.GetHtml(tableStyle: "table table-striped")*@



@model List<Lab13.Models.Persona>

@{
    ViewBag.Title = "Listar";

    var grid = new WebGrid(source: Model, columnNames: new[] {
                    "PersonaID", "Nombre", "Apellido", "FechaNacimiento", "Direccion", "Email" });
}
<form>
    Buscar por nombre o apellido: @Html.TextBox("Busqueda")
    <input type="submit" value="Buscar" />
</form>

<h2>Listado de Personas</h2>
@grid.GetHtml(tableStyle: "table table-striped",
    columns: grid.Columns(
        grid.Column(columnName: "PersonaID", header: "PersonaID"),
        grid.Column(columnName: "Nombre", header: "Nombre"),
        grid.Column(columnName: "Apellido", header: "Apellido"),
        grid.Column(columnName: "FechaNacimiento", header: "FechaNacimiento"),
        grid.Column(columnName: "Direccion", header: "Direccion"),
        grid.Column(columnName: "Email", header: "Email"),
        grid.Column(header: "Acciones", format: (item) =>
                        Html.ActionLink("Ver", "Mostrar", "Persona",
                            new { id = item.PersonaID }, null))
        ))